html{
  font-family: Arial;
  background-image:url(fondclavier.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

header{
  position: absolute;
  text-align: center;
  font-family: Arial;
  top:0;
  background: rgba(255,255,255,0.6);
  left:0;
  width: 100%;
  height: 17%;
}

img{
  left:0;
  top:0;
  width: 15%;
  height: 100%;
  background: transparent;
}

ul {
  list-style-type: none;
  margin-top:-5.5%;
  margin-left: -5%;
  text-align:right;
  width: 100%;
  max-width: 100%;
}
ul li {
  display: inline-block;
  line-height: 60px;
}
ul li a {
  text-decoration: none;
  position: relative;
  margin-top: 2%;
  vertical-align: top;
  width: 100%;
  height: 54px;
  letter-spacing: 0.125em;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  text-align: center;
  background:rgb(0,0,0);
  border:2px solid rgb(0,0,0);
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  opacity:0.9;
}

ul li a:hover{
  opacity:1;
  transition: all 0.5s;
}

.sign-up{
  position: relative;
  margin: 2px auto;
  margin-top:15%;
  width: 480px;
  padding: 43px 25px 39px;
  height: 20em;
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}

h1{
  text-align: center;
  top:0;
  font-weight: 400;
  border-bottom:3px solid rgb(145,4,4);
  padding-bottom: 1%;
  text-transform: uppercase;
}

h2{
  text-align: center;
  font-weight: 300;
  margin-bottom: 8%;
}

h3{
  text-align: center;
  margin-bottom: 2%;
}


.button-base{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  left:50%;
  float:left;
  margin-top: 12%;
  margin-bottom: 12%;
}

.button-base a{
  text-decoration: none;
  text-align: center;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background:rgb(0,0,0);
  border:2px solid rgb(0,0,0);
  border-radius: 10px;
  cursor: pointer;
  right: 50%;
  opacity: 0.9;
}

.button-base a:hover{
  opacity:1;
  -webkit-transition: all 0.3s ease;
}
